.wrapper {
    height: 500px;
}

.gridItem {
    overflow: hidden;
}

.bannerImage {
    height: 105%;
    /* max-height: inherit; */
    width: 100%;
}

.text {
    position: relative;
    bottom: 60px;
    left: 10px;
    color: aliceblue;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        height: 200px;
    }
    .text {
        font-size: 12px;
        position: relative;
        bottom: 60px;
        left: 10px;
        color: aliceblue;
        z-index: 1;
    }
}