@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #f2f2f2 !important;
  font-family: "Assistant", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

.product-row::-webkit-scrollbar,
.search-results::-webkit-scrollbar {
  display: none;
}

.chakra-input__left-element.location {
  justify-content: start;
}
.chakra-popover__content:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.loader {
  height: 15px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#fff 90%,#0000);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: wave .8s infinite linear; 
}
.black{
  --_g: no-repeat radial-gradient(farthest-side,#1a202c 70%,#0000);
}
.white{
  --_g: no-repeat radial-gradient(farthest-side,#fff 90%,#0000);
}
.primary{
  --_g: no-repeat radial-gradient(farthest-side,#014AAD 70%,#0000);
}
@keyframes wave {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}