@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #f2f2f2 !important;
  font-family: "Assistant", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

.product-row::-webkit-scrollbar,
.search-results::-webkit-scrollbar {
  display: none;
}

.chakra-input__left-element.location {
  justify-content: start;
}
.chakra-popover__content:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}