.logo {
  /* mix-blend-mode: color-burn; */
  height: 90px;
  width: 90px;
}

.loginForm{
  background: linear-gradient(to bottom, rgb(208, 191, 255), rgb(255, 164, 133));
}

.text{
  color:rgb(143, 76, 146);
}