.nav {
    background-color: #ffa837;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.navItem {
    /* color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem.logo {
    /* height: inherit; */
    padding-left: 20px;
    overflow: hidden;
    align-self: center;
    /* padding: 5px; */
    /* mix-blend-mode: color-burn; */
}

.brandLogo {
    /* mix-blend-mode: color-burn; */
    height: 50px;
    width: 50px;
}

.searchBar {
    height: 30px;
    width: 400px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    height: 30px;
    width: 400px;
    border-radius: 50px;
    margin-right: -5px;
}

.SearchIcon {
    margin-left: -15px;
    /* margin-right: 10px; */
}

.iconBox {
    display: flex;
    justify-content: center;
    gap: 2rem;
}