.wrapper {
    min-height: 431px;
}

.container1 {
    display: flex;
    /* justify-content: center; */
}

.imageWrapper {
    width: 40vw;
}

.detailsWrapper {
    /* align-self: flex-end; */
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: self-start;
    /* justify-content: space-evenly; */
    width: 60vw;
}

.price {
    display: flex;
    align-items: center;
}

.variantWrapper {
    display: flex;
    gap: 1rem;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.submit {
    margin-left: -34px;
}


/* .container2{
    
} */

.productWrapper {
    display: flex;
    gap: 2rem;
    overflow: scroll;
}

.similarProduct {
    min-width: 200px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 1rem;
}