/* .myWishlist {
    text-align: start;
} */

.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: start;
}

.imageContainer {
    height: inherit;
    width: 20%;
}

.productInfo {
    /* width: 60px; */
    max-width: 600px;
}

.productName {}

.productPrice {}

.incPrice {
    text-decoration: line-through;
}

.buttonWrapper {
    display: flex;
    /* min-width: 300px !important; */
    /* justify-content: space-around; */
    gap: .25rem;
}

.button {
    background-color: #3A003D !important;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .infoDiv {
        display: none;
    }
    .buttonWrapper {
        display: flex;
        flex-direction: column;
    }
    .imageContainer {
        height: inherit;
        width: 30%;
    }
    .productDesc {
        display: none;
    }
}