.superContainer {
    min-height: 431px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    width: 20vw;
    border-right: .5px solid #D3D3D3;
}

.grid {
    width: 80vw;
}

.list {
    height: 500px;
}

.productDetails {
    display: flex;
    height: inherit;
    flex-direction: column;
    gap: .25rem;
    justify-content: flex-start;
}

.productName {
    display: flex;
    align-items: center;
}

.badgeContainer {
    display: flex;
}

.assuranceContainer {
    display: flex;
    justify-content: flex-end
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .grid {
        width: 100vw;
    }
}