.suggestionScroll {
    margin: 20px;
    /* display: flex;
    justify-content: space-between;
    gap: 20px; */
}

.suggestionCard {
    margin: 10px auto;
}

.rec.rec-arrow {
    border-radius: 0;
}

@media only screen and (max-width: 768px) {
    .productDesc {
        display: none;
    }
}